body
{
    background: linear-gradient(to left,red, black, black,black, black, black, black, black, red);
}

#label_1
{
    display: block;
    margin: auto;
    text-align: center;
}

h1
{
    margin: 30px auto 30px auto;
    color: white;
    text-align: center;
}

#texto{
    height: 50px;
}

#selector
{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    color: red;
    background-color: black;
    border-radius: 6px;
    border: 2px solid red;
}

#btn
{
    margin: 0 auto;
    display: block;
    margin: 25px auto;
    text-align: center;
    font-size: 2em;
    padding: 3px;
    color: red;
    background-color: black;
    border-radius: 6px;
    border: 2px solid red;
}
#btn:hover
{
    background-color: red;
    color: black;
}

.container
{
    margin-top: 10px;
}